<html>

<head>
    <title>Guess The Flag</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-app="FlagGame" ng-controller="flagCtrl as flag">
    <h1 style="position: relative; left: 45% ; font-family: Arial, Helvetica, sans-serif"> Guess the Flag!! </h1>
    <span class="flag-icon flag-icon-{{flag.code}} flagStyle"></span>
    </br>
    <button class="controlButton" ng-click="flag.flagGen()">Fire</button>
    <div ng-if="flag.buttonText1">
        <span style="position: relative; left: 48%;font-size: 1.5em;font-family: Arial, Helvetica, sans-serif"> Options</span></br>
        <button class="optionButton" ng-click="flag.button1() ">   {{flag.buttonText1}} </button>
        <button class="optionButton" ng-click="flag.button2()">{{flag.buttonText2}}</button>
        </br>
        <button class="optionButton" ng-click="flag.button3()">{{flag.buttonText3}}</button>
        <button class="optionButton" ng-click="flag.button4()">{{flag.buttonText4}}</button>
    </div>
    <h2 ng-if="flag.view==true">Correct answer</h2>
</body>

</html>