<html>

<head>
    <title>Guess The Flag</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.css">
</head>

<body ng-app="FlagGame" ng-controller="flagCtrl as flag">
    <button ng-click="flag.flagGen()">Fire</button>
    <span class="flag-icon flag-icon-{{flag.code}}"></span>
    <div ng-if="flag.buttonText1">
        Options
        <button>   {{flag.buttonText1}} </button>
        <button>{{flag.buttonText2}}</button>
    </div>
</body>

</html>