.flagStyle {
    position: relative;
    left: 45%;
    margin: 10px 0px 10px 0px;
    height: 100px;
    width: 200px;
}

.optionButton {
    border-radius: 2em 2em 2em 2em;
    box-shadow: 1em 0.6em lightgray;
    margin: 2px auto;
    width: 50em;
    font-weight: bold;
    font-family: monospace;
}

.controlButton {
    border-radius: 2em;
    margin: 5px auto;
    width: 5em;
    height: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}